# NEON
NEON_DATABASE_CONNECTION_STRING=<your_neon_database_connection_string> # 👈🏻 sensitive
NEON_AUTH_BASE_URL=<your_neon_auth_base_url> # 👈🏻 sensitive
NEON_AUTH_COOKIE_SECRET=<your_neon_auth_cookie_secret_32_characters_long> # 👈🏻 sensitive

# VERCEL BLOB
BLOB_READ_WRITE_TOKEN=<your_vercel_blob_read_write_token> # 👈🏻 sensitive

# WORKFLOW (for local development only)
WORKFLOW_LOCAL_BASE_URL=https://localhost:<port>